#feed-list img, #feed-list iframe {
    max-width: 100%;
}

.feed-content {
    font-size: 1rem !important;
}

.show-article-btn {
    margin: 5px;
    border-radius: 50%;
    width: 37px;
}

.show-article-btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

h2 {
    font-size: 1.25rem;
}
