.navbar {
    background-color: var(--main-bg-color);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navbar-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 10px;
}
