{% extends 'base.html.twig' %}

{% block title %}TechWatch - News{% endblock %}

{% block header %}
    <h1>TechWatch</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <h2>Symfony 4.4 LTS is live!</h2>

        </div>
    </div>
{% endblock %}
